@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

.banner {
  background-color: #8a84d4;
  text-align: center;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px;
  height: 100vh;
}

.banner h1 {
  color: #595959;
}

.banner p {
  color: #DBDBDB;
}

#profile-pic {
  width: 350px;
}

.btn {
  color: #595959;
  text-decoration: none;
  display: inline-block;
  background-color: #8783D1;
  border: 1px solid #595959;
  border-radius: 5px;
  width: 200px;
  padding: 8px;
  text-align: center;
  outline: none;
}

.btn:hover {
  color: #DBDBDB;
  border: 1px solid #DBDBDB;
}
